@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

h2 {
  font-family: "Lora", serif;
}

html {
  height: 100vh;
}

/*NAVEGAÇÃO*/
header {
  background-color: #fec42f;
}

.menu--lista {
  list-style-type: none;
  cursor: pointer;
  margin: 0 16px;
  padding: 16px;
}

.menu--link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/*MAIN CONTATO*/

.main--principal {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(2, 200px);
}

.main--img {
  grid-row: span 2;
}

.main--img img {
  max-width: 250px;
  margin-top: 100px;
}

.main--titulo {
  text-align: center;
}

.main--form {
  width: 100%;
  grid-column: 2;
  grid-row: 2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fec42f;
  border-radius: 20px;
  border: 1px solid;
}

.form--btn {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.form--btn p {
  font-weight: bold;
}

.form--icon__tamanho {
  width: 25px;
}

/* 
    :nth-last-child(-n+3)
    Representa os últimos três elementos em um grupo de irmãos.
*/

input {
  border-radius: 10px;
  border: none;
}

input:nth-child(-n + 3) {
  margin-bottom: 10px;
  padding: 10px;
  color: rgb(199, 199, 199);
}

@media (max-width: 1031px) {
  .main--principal {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  .main--img {
    max-width: fit-content;
  }

  .main--form {
    max-width: fit-content;
  }

  .form--btn {
    max-width: 150px;
    min-width: 130px;
  }

  .main--titulo h2 {
    padding: 0 4em;
    margin-bottom: 50px;
    text-align: center;
  }
}
